.contenedor {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

h2 {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}