.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-empty {
  text-align: center;
}


.cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  justify-content: space-around;
}


.item-details {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}


.item-details p {
  margin-right: 30px;

}


.cart-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}


.btn {
  margin: 5px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}