.cart-table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
  border-spacing: 0;
}

.cart-table th,
.cart-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.cart-table th {
  background-color: #f2f2f2;
}


.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}


.item-details p {
  margin-right: 15px;

}

.cart-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}